#about
    background: url('../img/about.jpg') no-repeat
    background-position-x: 50%
    background-position-y: bottom

    @media only screen and (min-width: 1071px)
        background-size: contain

    @media only screen and (min-width: 871px) and (max-width: 1070px)
        background-size: auto 80%

    @media only screen and (max-width: 870px)
        background: none

    .container
        +flex

        h2
            text-align: right

        h3
            color: $purple
            text-transform: uppercase
            font-size: 11pt
            margin-bottom: 20px

        > div
            text-align: right

            @media only screen and (min-width: 871px)
                width: 33%

            @media only screen and (max-width: 870px)
                width: 70%

            &:first-child p
                line-height: 16pt

            &:nth-child(2)
                @media only screen and (max-width: 870px)
                    display: none

        .progress
            margin: 20px 0

            &-title
                text-transform: uppercase
                font-weight: bold
                color: #494949
                font-size: 9pt
                text-align: center
                margin-bottom: 10px

            &-bar
                margin-left: 10%
                position: relative
                width: 80%
                height: 6px
                border-radius: 16px
                overflow: hidden
                background-color: $purple

                > div
                    position: absolute
                    left: 0
                    top: 0
                    height: 6px
                    background-color: $pink
