#banner
    //width: 100vw
    height: 100vh
    background-image: url("../img/banner.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    position: relative

    .container
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        text-align: center
        text-transform: uppercase
        //line-height: 57pt
        padding: 0

        p
            font-family: $font-name
            font-weight: bold
            color: white

            &:first-child
                font-size: 46pt
                line-height: 34pt

            &:nth-child(3)
                font-size: 12pt

        h1
            font-size: 74pt
            background: -webkit-linear-gradient(45deg, $purple, $pink)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            line-height: 90pt
