#blog

    .posts
        margin-top: 30px
        +flex(flex-start, space-between)

        .post
            width: 33%
            padding: 14px

            @media only screen and (max-width: 830px)
                width: 95%
                margin: 0 auto

            img
                margin-bottom: 20px

            &-category
                font-weight: bold
                text-transform: uppercase
                font-size: 10pt
                color: #898989
                margin-bottom: 10px

            &-title
                font-size: 13pt
                font-weight: bold
                margin-bottom: 10px

            &-content
                line-height: 17pt
