#contactdetails
    background-color: $gray

    .container
        +flex

        .detail
            +flex(center, space-around, wrap)

            @media only screen and (min-width: 844px)
                width: 33%

            @media only screen and (max-width: 843px)
                width: 51%
                margin-bottom: 40px

            &-sign
                width: 70px
                height: 70px
                border-radius: 50%
                background-color: $dark
                position: relative

                &.phone:after
                    content: "\f3cd"

                &.marker:after
                    content: "\f3c5"

                &.cogs:after
                    content: "\f085"

                &:after
                    font-family: $font-awesome
                    color: white
                    font-size: 20pt
                    display: block
                    position: absolute
                    left: 50%
                    top: 50%
                    transform: translate(-50%, -50%)

            &-container
                width: calc(100% - 100px)

            &-title
                text-transform: uppercase
                font-weight: bold
                font-size: 11pt
                margin-bottom: 10px
