#contact
    background-image: url("../img/contact.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    padding: 40px

    .container
        background: $dark
        padding: 40px

    h2
        color: white

    h2 + p
        color: white
        margin-bottom: 40px

    form

        .row
            +flex(center, space-between)
            margin-bottom: 20px

            > input
                display: block
                width: calc(33.3% - 20px)
                padding: 7px 10px

        textarea
            display: block
            width: 100%
            height: 100px
            resize: vertical
            margin-bottom: 20px
            padding: 7px 10px

        input[type=submit]
            display: block
            padding: 10px 20px
            position: relative
            left: 50%
            transform: translateX(-50%)
            background: $purple
            background-image: linear-gradient(45deg, $purple, $pink)
            border: 0
            text-transform: uppercase
            color: white
            font-weight: bold
            cursor: pointer
