#experience
    background: $purple
    background-image: linear-gradient(45deg, $purple, $pink)

    h2
        color: white

    p
        color: white

    .experiences
        margin-top: 30px

        .experience
            +flex
            margin: 40px 0

            > div
                width: 240px
                position: relative

                &:after
                    content: ""
                    position: absolute
                    height: 100%
                    width: 6px
                    background-color: white
                    display: block
                    top: 0

            > p
                width: calc(100% - 240px)

            .position-name
                width: 149px
                font-weight: bold
                text-transform: uppercase
                font-size: 12pt

            .position-date
                width: 149px
                font-weight: bold
                text-transform: uppercase
                font-size: 10pt

            &.right
                > div
                    +flex(center, flex-end, wrap)

                    &:after
                        left: 40px

            &.left
                > div
                    &:after
                        right: 40px
