nav
    background: $dark
    padding: 30px 0
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 2

    ul
        +flex
        list-style: none

        li
            position: relative
            padding: 0 20px
            color: white

            &:not(:last-child):after
                content: ""
                position: absolute
                display: block
                left: 100%
                top: 50%
                transform: translate(-50%, -50%)
                height: 2px
                width: 4px
                background: white

            a
                font-family: $font-name
                font-weight: bold
                font-size: 12pt
                text-transform: uppercase
