#portfolio

    .holder
        +flex(flex-start)
        margin-top: 20px

        ul
            width: 20%
            list-style-type: none

            li
                text-transform: uppercase
                font-weight: bold
                color: #494949
                margin: 10px 0
                font-size: 11pt

        .projects
            +flex
            width: 80%

            > div
                width: 50%
                padding: 10px
