#services

    .services
        +flex
        padding-top: 40px

        .service
            padding: 30px
            text-align: center

            @media only screen and (min-width: 831px)
                width: 33%

            @media only screen and (min-width: 631px) and (max-width: 830px)
                width: 50%

            @media only screen and (max-width: 630px)
                width: 95%

            h4
                text-transform: uppercase
                color: #494949
                margin-bottom: 20px

            &-sign
                width: 80px
                height: 80px
                border-radius: 50px
                background: $purple
                background-image: linear-gradient(45deg, $purple, $pink)
                position: relative
                left: 50%
                transform: translateX(-50%)
                margin: 20px 0

                &:after
                    font-family: $font-awesome
                    color: white
                    font-size: 20pt
                    display: block
                    position: absolute
                    left: 50%
                    top: 50%
                    transform: translate(-50%, -50%)

                &.cogs:after
                    content: "\f085"

                &.link:after
                    content: "\f0c1"

                &.plane:after
                    content: "\f1d8"

                &.bulb:after
                    content: "\f0eb"

                &.plug:after
                    content: "\f1e6"

                &.tv:after
                    content: "\f26c"
