#testimonials
    background-image: url("../img/testimonial.jpg")
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    background-attachment: fixed

    h2
        color: white
        margin-bottom: 40px
        font-family: $font-bell

    .testimonial
        +flex(center, space-around, wrap)

        .quote
            @media only screen and (min-width: 831px)
                width: 40%

            @media only screen and (min-width: 631px) and (max-width: 830px)
                width: 60%

            @media only screen and (max-width: 630px)
                margin-bottom: 40px

            p
                color: white
                text-align: right
                line-height: 19pt
                position: relative

        .person
            +flex(center, space-around)
            width: 40%

            &-img
                width: 140px
                height: 140px
                border-radius: 50%
                padding: 10px
                background-color: white

                img
                    border-radius: 50%

            .name
                font-size: 15pt
                color: white
                text-transform: uppercase
                font-weight: bold
                text-align: center

            .position
                font-size: 9pt
                color: #c714d5
                font-weight: bold
                text-align: center
