@charset "UTF-8";
@font-face {
  font-family: "AvantGarde CE";
  font-weight: bold;
  src: url("../font/AGD.ttf");
}
@font-face {
  font-family: "AvantGarde CE";
  font-weight: normal;
  src: url("../font/AGW.ttf");
}
@font-face {
  font-family: "FontAwesome";
  font-weight: bold;
  font-style: normal;
  src: url("../font/fa-solid-900.ttf");
}
@font-face {
  font-family: "Bell MT";
  font-weight: bold;
  font-style: normal;
  src: url("../font/BELLB.TTF");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "AvantGarde CE";
  outline: 0;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 24pt;
  text-transform: uppercase;
  color: #15263e;
  text-align: center;
}

h2 + p {
  text-align: center;
}

p {
  font-size: 10pt;
  color: #494949;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 80px;
}

nav {
  background: #15263e;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  position: relative;
  padding: 0 20px;
  color: white;
}
nav ul li:not(:last-child):after {
  content: "";
  position: absolute;
  display: block;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 4px;
  background: white;
}
nav ul li a {
  font-family: "AvantGarde CE";
  font-weight: bold;
  font-size: 12pt;
  text-transform: uppercase;
}

#banner {
  height: 100vh;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
#banner .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}
#banner .container p {
  font-family: "AvantGarde CE";
  font-weight: bold;
  color: white;
}
#banner .container p:first-child {
  font-size: 46pt;
  line-height: 34pt;
}
#banner .container p:nth-child(3) {
  font-size: 12pt;
}
#banner .container h1 {
  font-size: 74pt;
  background: -webkit-linear-gradient(45deg, #a21af0, #ff0072);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 90pt;
}

#about {
  background: url("../img/about.jpg") no-repeat;
  background-position-x: 50%;
  background-position-y: bottom;
}
@media only screen and (min-width: 1071px) {
  #about {
    background-size: contain;
  }
}
@media only screen and (min-width: 871px) and (max-width: 1070px) {
  #about {
    background-size: auto 80%;
  }
}
@media only screen and (max-width: 870px) {
  #about {
    background: none;
  }
}
#about .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#about .container h2 {
  text-align: right;
}
#about .container h3 {
  color: #a21af0;
  text-transform: uppercase;
  font-size: 11pt;
  margin-bottom: 20px;
}
#about .container > div {
  text-align: right;
}
@media only screen and (min-width: 871px) {
  #about .container > div {
    width: 33%;
  }
}
@media only screen and (max-width: 870px) {
  #about .container > div {
    width: 70%;
  }
}
#about .container > div:first-child p {
  line-height: 16pt;
}
@media only screen and (max-width: 870px) {
  #about .container > div:nth-child(2) {
    display: none;
  }
}
#about .container .progress {
  margin: 20px 0;
}
#about .container .progress-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #494949;
  font-size: 9pt;
  text-align: center;
  margin-bottom: 10px;
}
#about .container .progress-bar {
  margin-left: 10%;
  position: relative;
  width: 80%;
  height: 6px;
  border-radius: 16px;
  overflow: hidden;
  background-color: #a21af0;
}
#about .container .progress-bar > div {
  position: absolute;
  left: 0;
  top: 0;
  height: 6px;
  background-color: #ff0072;
}

#contactdetails {
  background-color: #dcdcde;
}
#contactdetails .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#contactdetails .container .detail {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media only screen and (min-width: 844px) {
  #contactdetails .container .detail {
    width: 33%;
  }
}
@media only screen and (max-width: 843px) {
  #contactdetails .container .detail {
    width: 51%;
    margin-bottom: 40px;
  }
}
#contactdetails .container .detail-sign {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #15263e;
  position: relative;
}
#contactdetails .container .detail-sign.phone:after {
  content: "";
}
#contactdetails .container .detail-sign.marker:after {
  content: "";
}
#contactdetails .container .detail-sign.cogs:after {
  content: "";
}
#contactdetails .container .detail-sign:after {
  font-family: "FontAwesome";
  color: white;
  font-size: 20pt;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#contactdetails .container .detail-container {
  width: calc(100% - 100px);
}
#contactdetails .container .detail-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11pt;
  margin-bottom: 10px;
}

#services .services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 40px;
}
#services .services .service {
  padding: 30px;
  text-align: center;
}
@media only screen and (min-width: 831px) {
  #services .services .service {
    width: 33%;
  }
}
@media only screen and (min-width: 631px) and (max-width: 830px) {
  #services .services .service {
    width: 50%;
  }
}
@media only screen and (max-width: 630px) {
  #services .services .service {
    width: 95%;
  }
}
#services .services .service h4 {
  text-transform: uppercase;
  color: #494949;
  margin-bottom: 20px;
}
#services .services .service-sign {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background: #a21af0;
  background-image: linear-gradient(45deg, #a21af0, #ff0072);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px 0;
}
#services .services .service-sign:after {
  font-family: "FontAwesome";
  color: white;
  font-size: 20pt;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#services .services .service-sign.cogs:after {
  content: "";
}
#services .services .service-sign.link:after {
  content: "";
}
#services .services .service-sign.plane:after {
  content: "";
}
#services .services .service-sign.bulb:after {
  content: "";
}
#services .services .service-sign.plug:after {
  content: "";
}
#services .services .service-sign.tv:after {
  content: "";
}

#testimonials {
  background-image: url("../img/testimonial.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
#testimonials h2 {
  color: white;
  margin-bottom: 40px;
  font-family: "Bell MT";
}
#testimonials .testimonial {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media only screen and (min-width: 831px) {
  #testimonials .testimonial .quote {
    width: 40%;
  }
}
@media only screen and (min-width: 631px) and (max-width: 830px) {
  #testimonials .testimonial .quote {
    width: 60%;
  }
}
@media only screen and (max-width: 630px) {
  #testimonials .testimonial .quote {
    margin-bottom: 40px;
  }
}
#testimonials .testimonial .quote p {
  color: white;
  text-align: right;
  line-height: 19pt;
  position: relative;
}
#testimonials .testimonial .person {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 40%;
}
#testimonials .testimonial .person-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  padding: 10px;
  background-color: white;
}
#testimonials .testimonial .person-img img {
  border-radius: 50%;
}
#testimonials .testimonial .person .name {
  font-size: 15pt;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
#testimonials .testimonial .person .position {
  font-size: 9pt;
  color: #c714d5;
  font-weight: bold;
  text-align: center;
}

#portfolio .holder {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
#portfolio .holder ul {
  width: 20%;
  list-style-type: none;
}
#portfolio .holder ul li {
  text-transform: uppercase;
  font-weight: bold;
  color: #494949;
  margin: 10px 0;
  font-size: 11pt;
}
#portfolio .holder .projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}
#portfolio .holder .projects > div {
  width: 50%;
  padding: 10px;
}

#experience {
  background: #a21af0;
  background-image: linear-gradient(45deg, #a21af0, #ff0072);
}
#experience h2 {
  color: white;
}
#experience p {
  color: white;
}
#experience .experiences {
  margin-top: 30px;
}
#experience .experiences .experience {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0;
}
#experience .experiences .experience > div {
  width: 240px;
  position: relative;
}
#experience .experiences .experience > div:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background-color: white;
  display: block;
  top: 0;
}
#experience .experiences .experience > p {
  width: calc(100% - 240px);
}
#experience .experiences .experience .position-name {
  width: 149px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt;
}
#experience .experiences .experience .position-date {
  width: 149px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10pt;
}
#experience .experiences .experience.right > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
#experience .experiences .experience.right > div:after {
  left: 40px;
}
#experience .experiences .experience.left > div:after {
  right: 40px;
}

#blog .posts {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
#blog .posts .post {
  width: 33%;
  padding: 14px;
}
@media only screen and (max-width: 830px) {
  #blog .posts .post {
    width: 95%;
    margin: 0 auto;
  }
}
#blog .posts .post img {
  margin-bottom: 20px;
}
#blog .posts .post-category {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10pt;
  color: #898989;
  margin-bottom: 10px;
}
#blog .posts .post-title {
  font-size: 13pt;
  font-weight: bold;
  margin-bottom: 10px;
}
#blog .posts .post-content {
  line-height: 17pt;
}

#contact {
  background-image: url("../img/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 40px;
}
#contact .container {
  background: #15263e;
  padding: 40px;
}
#contact h2 {
  color: white;
}
#contact h2 + p {
  color: white;
  margin-bottom: 40px;
}
#contact form .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
#contact form .row > input {
  display: block;
  width: calc(33.3% - 20px);
  padding: 7px 10px;
}
#contact form textarea {
  display: block;
  width: 100%;
  height: 100px;
  resize: vertical;
  margin-bottom: 20px;
  padding: 7px 10px;
}
#contact form input[type=submit] {
  display: block;
  padding: 10px 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: #a21af0;
  background-image: linear-gradient(45deg, #a21af0, #ff0072);
  border: 0;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

footer {
  padding: 40px;
}
footer p {
  text-align: center;
  color: #494949;
  font-size: 10pt;
}

/*# sourceMappingURL=app.css.map */
