@import "base/variables"
@import "base/mixins"
@import "base/font"

*
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: $font-name
    outline: 0

body
    overflow-x: hidden

a
    text-decoration: none
    color: inherit

img
    width: 100%
    height: auto

h2
    font-size: 24pt
    text-transform: uppercase
    color: $dark
    text-align: center

h2 + p
    text-align: center

p
    font-size: 10pt
    color: #494949

.container
    max-width: 1170px
    margin: 0 auto
    padding: 80px

@import "partials/nav"
@import "partials/banner"
@import "partials/about"
@import "partials/contactdetails"
@import "partials/services"
@import "partials/testimonial"
@import "partials/portfolio"
@import "partials/experience"
@import "partials/blog"
@import "partials/contact"
@import "partials/footer"
