@font-face
    font-family: $font-name
    font-weight: bold
    src: url("../font/AGD.ttf")

@font-face
    font-family: $font-name
    font-weight: normal
    src: url("../font/AGW.ttf")

@font-face
    font-family: $font-awesome
    font-weight: bold
    font-style: normal
    src: url("../font/fa-solid-900.ttf")

@font-face
    font-family: $font-bell
    font-weight: bold
    font-style: normal
    src: url("../font/BELLB.TTF")
